<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/24f84a2d-8804-4ab1-a56e-d09d2cae2f9f/resourceGroups/myressourcegroup2/providers/Microsoft.ApiManagement/service/APIKassimCoapi2/apis/APIKassimCo</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/24f84a2d-8804-4ab1-a56e-d09d2cae2f9f/resourcegroups/22/providers/Microsoft.Web/sites/APIKassimCo20230313161251</ResourceId>
    <ResourceGroup>22</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apikassimco20230313161251.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6be0ee45-caa0-4d27-8ecc-293a2dd1d945</ProjectGuid>
    <PublishUrl>https://apikassimco20230313161251.scm.azurewebsites.net/</PublishUrl>
    <UserName>$APIKassimCo20230313161251</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>